<div class="about__container general__container">
  <div class="about__title general__title">
    <h2>Sobre el proyecto</h2>
  </div>
  <div class="about__content general__content">
    <div class="about_left_text about_text general__text">
      <p>Este proyecto surge del trabajo final de grado de bellas artes, realizado por INma soler.</p>
      <p>Trata de transmitir de manera divertida y gráfica una realidad actual: los problemas de la rutina y las
        relaciones entre personas</p>
    </div>
    <div class="about_images">
      <img src="{{about1}}" srcset="{{about1}} 1x, {{about1_2x}} 2x">
      <img src="{{about2}}" srcset="{{about2}} 1x, {{about2_2x}} 2x">
      <img src="{{about3}}" srcset="{{about3}} 1x, {{about3_2x}} 2x">
    </div>
    <div class="about_right_text about_text general__text">
      <p>sinopsis: La historia de dos grandes amigas que, inmersas en la rutina acelerada, se ven forzadas a replantear
        el modo de vida por culpa de un accidente imprevisto.</p>
    </div>
  </div>
</div>
